-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: asamiya
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ace_bank_inout`
--

DROP TABLE IF EXISTS `ace_bank_inout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ace_bank_inout` (
  `num` int(11) NOT NULL AUTO_INCREMENT COMMENT 'no',
  `mb_id` varchar(255) NOT NULL,
  `bank_name` varchar(100) NOT NULL,
  `bank_num` varchar(100) NOT NULL COMMENT '계좌번호',
  `trand_no` int(11) NOT NULL COMMENT '1 (입금) 2(출금) 숫자출력',
  `trand_text` varchar(100) NOT NULL COMMENT '입금 / 출금 한글출력',
  `dpscrbal_amt` int(11) NOT NULL COMMENT '입출금 후 잔액',
  `fcurrtrd_amt` varchar(255) NOT NULL COMMENT '입금 출금 거래금액 78원 입금 했을 때 78.0000 로 출력됨',
  `trd_dt` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '거래일시간',
  PRIMARY KEY (`num`)
) ENGINE=MyISAM AUTO_INCREMENT=81 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='계좌 입출금 내역';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ace_bank_inout`
--

LOCK TABLES `ace_bank_inout` WRITE;
/*!40000 ALTER TABLE `ace_bank_inout` DISABLE KEYS */;
INSERT INTO `ace_bank_inout` VALUES (80,'7777','LS증권','20004804105',1,'입금',20000,'20000.0000','2026-02-21 02:33:54');
/*!40000 ALTER TABLE `ace_bank_inout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ace_bank_mb`
--

DROP TABLE IF EXISTS `ace_bank_mb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ace_bank_mb` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `mb_id` varchar(255) NOT NULL DEFAULT '',
  `fintech_use_num` varchar(255) NOT NULL COMMENT '핀테크 이용번호',
  `bank_name` varchar(20) NOT NULL DEFAULT '',
  `account_num_masked` varchar(255) NOT NULL DEFAULT '' COMMENT '계좌번호',
  `account_holder_name` varchar(255) NOT NULL DEFAULT '' COMMENT '예금주',
  `inquiry_agree_dtime` varchar(255) NOT NULL DEFAULT '' COMMENT '조회시간',
  `payer_num` varchar(255) NOT NULL DEFAULT '' COMMENT '납부자번호',
  `bank_type` varchar(20) NOT NULL DEFAULT '' COMMENT '출금통장 transfer 입금통장 inquiry',
  `bank_code_tran` varchar(20) NOT NULL COMMENT '은행코드',
  `balance_amt` int(11) NOT NULL COMMENT '잔액',
  `product_name` varchar(255) NOT NULL COMMENT '계좌종류',
  `num_datetime` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `next_datetime` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '잔액조회 가능한 시간',
  PRIMARY KEY (`num`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ace_bank_mb`
--

LOCK TABLES `ace_bank_mb` WRITE;
/*!40000 ALTER TABLE `ace_bank_mb` DISABLE KEYS */;
INSERT INTO `ace_bank_mb` VALUES (20,'7777','','LS증권','20004804105','최진호','20260226125520','','transfer','',22728,'LS증권','2026-02-26 12:55:20','2026-06-27 00:00:00');
/*!40000 ALTER TABLE `ace_bank_mb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ace_bank_sum`
--

DROP TABLE IF EXISTS `ace_bank_sum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ace_bank_sum` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `mb_id` varchar(255) NOT NULL DEFAULT '',
  `day_in` int(11) NOT NULL DEFAULT 0 COMMENT '금일매출입금',
  `day_out` int(11) NOT NULL DEFAULT 0 COMMENT '금일출금',
  `day_acc` int(11) NOT NULL DEFAULT 0 COMMENT '금일목표적립',
  `day_rev` int(11) NOT NULL DEFAULT 0 COMMENT '금일잔고',
  `ab_date` date NOT NULL DEFAULT '0000-00-00' COMMENT '날짜',
  PRIMARY KEY (`num`),
  KEY `mb_id` (`mb_id`),
  KEY `ad_date` (`ab_date`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ace_bank_sum`
--

LOCK TABLES `ace_bank_sum` WRITE;
/*!40000 ALTER TABLE `ace_bank_sum` DISABLE KEYS */;
/*!40000 ALTER TABLE `ace_bank_sum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ace_bank_today`
--

DROP TABLE IF EXISTS `ace_bank_today`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ace_bank_today` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `mb_id` varchar(255) NOT NULL DEFAULT '',
  `bank_type` varchar(255) NOT NULL DEFAULT '',
  `api_tran_id` varchar(255) NOT NULL COMMENT '거래고유번호',
  `api_tran_dtm` varchar(255) NOT NULL COMMENT '거래일시',
  `tran_date` varchar(255) NOT NULL DEFAULT '' COMMENT '거래일자 20160310',
  `tran_time` varchar(255) NOT NULL DEFAULT '' COMMENT '거래시간 113000',
  `inout_type` varchar(255) NOT NULL DEFAULT '' COMMENT '입출금구분\r\n("입금", "출금")',
  `print_content` varchar(255) NOT NULL DEFAULT '' COMMENT '통장인자내용',
  `tran_amt` int(11) NOT NULL DEFAULT 0 COMMENT '거래금액',
  `after_balance_amt` int(11) NOT NULL DEFAULT 0 COMMENT '거래 후 잔액',
  `tran_type` varchar(255) NOT NULL COMMENT '현금, 대체, 급여, 타행환, F/B출금 등',
  `fintech_use_num` varchar(255) NOT NULL COMMENT '핀테크이용번호',
  `cron_chk` tinyint(4) NOT NULL COMMENT '크론체크',
  `cron_datetime` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '크론실행시간',
  PRIMARY KEY (`num`)
) ENGINE=InnoDB AUTO_INCREMENT=1216 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ace_bank_today`
--

LOCK TABLES `ace_bank_today` WRITE;
/*!40000 ALTER TABLE `ace_bank_today` DISABLE KEYS */;
/*!40000 ALTER TABLE `ace_bank_today` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_config`
--

DROP TABLE IF EXISTS `ai_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ai_config` (
  `id` int(11) NOT NULL DEFAULT 1,
  `openai_key` varchar(255) DEFAULT '',
  `claude_key` varchar(255) DEFAULT '',
  `gemini_key` varchar(255) DEFAULT '',
  `groq_key` varchar(255) DEFAULT '',
  `meta_key` varchar(255) DEFAULT NULL,
  `default_model` varchar(50) DEFAULT 'gpt-4o',
  `use_chatbot` tinyint(1) DEFAULT 0,
  `chatbot_limit_guest` int(11) DEFAULT 5,
  `chatbot_limit_member` int(11) DEFAULT 20,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='AI Configuration Table';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_config`
--

LOCK TABLES `ai_config` WRITE;
/*!40000 ALTER TABLE `ai_config` DISABLE KEYS */;
INSERT INTO `ai_config` VALUES (1,'','','AQ.Ab8RN6K2mvnoezv0U9yF8n1SxDKqFAH6ny6u8heUZaknldHO0w','',NULL,'gemini-2.5-flash',0,5,20,'2026-08-07 09:50:16');
/*!40000 ALTER TABLE `ai_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `board_groups`
--

DROP TABLE IF EXISTS `board_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `board_groups` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '그룹 고유 ID',
  `name` varchar(100) NOT NULL COMMENT '그룹 이름',
  `slug` varchar(100) NOT NULL COMMENT '그룹 슬러그',
  `description` text DEFAULT NULL COMMENT '그룹 설명',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '생성 일시',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_slug` (`slug`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='게시판 그룹 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `board_groups`
--

LOCK TABLES `board_groups` WRITE;
/*!40000 ALTER TABLE `board_groups` DISABLE KEYS */;
INSERT INTO `board_groups` VALUES (1,'community','community','community group','2026-08-07 06:31:48');
/*!40000 ALTER TABLE `board_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boards`
--

DROP TABLE IF EXISTS `boards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `boards` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '게시판 고유 ID',
  `group_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '소속 그룹 ID',
  `title` varchar(100) NOT NULL COMMENT '게시판 제목',
  `slug` varchar(100) NOT NULL COMMENT '게시판 슬러그',
  `description` text DEFAULT NULL COMMENT '게시판 설명',
  `skin` varchar(50) DEFAULT 'basic' COMMENT '게시판 스킨',
  `max_replies` int(11) DEFAULT 3 COMMENT '원글당 최대 답글 개수',
  `level_list` int(11) DEFAULT 1 COMMENT '목록 접근 레벨',
  `level_view` int(11) DEFAULT 1 COMMENT '상세보기 접근 레벨',
  `level_write` int(11) DEFAULT 1 COMMENT '글쓰기 접근 레벨',
  `level_comment` int(11) DEFAULT 1 COMMENT '댓글 작성 레벨',
  `point_write` int(11) DEFAULT 0 COMMENT '글작성 포인트',
  `point_view` int(11) DEFAULT 0 COMMENT '상세보기 포인트(차감시 음수)',
  `point_comment` int(11) DEFAULT 0 COMMENT '댓글작성 포인트',
  `allow_comments` tinyint(1) DEFAULT 1 COMMENT '댓글 허용 여부',
  `page_rows` int(11) DEFAULT 20 COMMENT '페이지당 출력 행수',
  `page_buttons` int(11) DEFAULT 5 COMMENT '페이징 버튼 수',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '생성 일시',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_group_id` (`group_id`),
  KEY `idx_slug` (`slug`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='게시판 설정 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boards`
--

LOCK TABLES `boards` WRITE;
/*!40000 ALTER TABLE `boards` DISABLE KEYS */;
INSERT INTO `boards` VALUES (1,1,'free board','free','free board','basic',3,1,1,1,1,0,0,0,1,20,5,'2026-08-07 06:31:48'),(2,1,'gallery board','gallery','gallery board','gallery',3,1,1,1,1,0,0,0,1,20,5,'2026-08-07 06:31:48'),(3,1,'blog','blog','blog','blog',3,1,1,1,1,0,0,0,1,20,5,'2026-08-07 06:31:48');
/*!40000 ALTER TABLE `boards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bom_part_prices`
--

DROP TABLE IF EXISTS `bom_part_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bom_part_prices` (
  `price_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL,
  `part_id` int(11) NOT NULL,
  `cost_price` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT '원가',
  `selling_price` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT '기준 판매가',
  `margin_rate` decimal(5,2) DEFAULT 15.00 COMMENT '마진율(%)',
  `effective_date` date DEFAULT NULL COMMENT '단가 적용 시작일',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`price_id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_part_prices`
--

LOCK TABLES `bom_part_prices` WRITE;
/*!40000 ALTER TABLE `bom_part_prices` DISABLE KEYS */;
/*!40000 ALTER TABLE `bom_part_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bom_parts`
--

DROP TABLE IF EXISTS `bom_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bom_parts` (
  `part_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL,
  `part_code` varchar(50) NOT NULL COMMENT '부품 식별 코드',
  `part_name` varchar(100) NOT NULL COMMENT '부품명',
  `part_category` varchar(50) DEFAULT NULL COMMENT '부품 종류 (예: FRAME, BEAM, BRACING)',
  `spec_height` int(11) DEFAULT 0 COMMENT '높이(mm)',
  `spec_length` int(11) DEFAULT 0 COMMENT '길이(mm)',
  `spec_depth` int(11) DEFAULT 0 COMMENT '깊이(mm)',
  `spec_thickness` varchar(20) DEFAULT NULL COMMENT '두께(예: 1.5t, 100바)',
  `load_capacity` int(11) DEFAULT 0 COMMENT '허용 하중(kg)',
  `unit` varchar(10) DEFAULT 'EA' COMMENT '단위',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`part_id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_parts`
--

LOCK TABLES `bom_parts` WRITE;
/*!40000 ALTER TABLE `bom_parts` DISABLE KEYS */;
/*!40000 ALTER TABLE `bom_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bom_rules`
--

DROP TABLE IF EXISTS `bom_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bom_rules` (
  `rule_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL,
  `parent_type` varchar(50) NOT NULL COMMENT '대상 랙 타입 (예: RACK_STANDALONE)',
  `child_part_id` int(11) NOT NULL COMMENT '소요 부품 ID',
  `calc_formula_type` varchar(50) NOT NULL COMMENT '계산 타입 (예: FIXED, PER_LEVEL, BY_HEIGHT)',
  `base_qty` int(11) DEFAULT 1 COMMENT '기본 수량',
  `multiplier` decimal(8,2) DEFAULT 1.00 COMMENT '계산 승수',
  `condition_json` text DEFAULT NULL COMMENT '구조화된 조건식 JSON',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`rule_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_rules`
--

LOCK TABLES `bom_rules` WRITE;
/*!40000 ALTER TABLE `bom_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `bom_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_logs`
--

DROP TABLE IF EXISTS `chatbot_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_logs` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `session_id` varchar(100) NOT NULL,
  `user_id` varchar(50) DEFAULT NULL,
  `question` text NOT NULL,
  `answer` text NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_logs`
--

LOCK TABLES `chatbot_logs` WRITE;
/*!40000 ALTER TABLE `chatbot_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '댓글 고유 ID',
  `post_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '게시글 ID',
  `user_id` varchar(255) NOT NULL DEFAULT '' COMMENT '작성자 ID',
  `parent_comment_id` int(11) unsigned DEFAULT NULL COMMENT '부모 댓글 ID',
  `content` text NOT NULL COMMENT '댓글 내용',
  `reply_depth` int(11) DEFAULT 0 COMMENT '댓글 깊이',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '작성 일시',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '수정 일시',
  PRIMARY KEY (`id`),
  KEY `idx_post_id` (`post_id`),
  KEY `idx_parent_comment_id` (`parent_comment_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='댓글 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config`
--

DROP TABLE IF EXISTS `config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `config` (
  `id` int(11) NOT NULL DEFAULT 1 COMMENT '고유 ID',
  `site_name` varchar(100) DEFAULT 'Neuron AI PHP' COMMENT '사이트 명',
  `company_name` varchar(100) DEFAULT '' COMMENT '회사 명',
  `company_owner` varchar(50) DEFAULT '' COMMENT '대표자 명',
  `company_license_num` varchar(50) DEFAULT '' COMMENT '사업자 등록번호',
  `company_tel` varchar(50) DEFAULT '' COMMENT '회사 전화번호',
  `company_email` varchar(100) DEFAULT '' COMMENT '회사 이메일',
  `company_address` varchar(255) DEFAULT '' COMMENT '회사 주소',
  `company_info` text DEFAULT NULL COMMENT '회사 소개내용',
  `logo_type` enum('text','image') DEFAULT 'text' COMMENT '로고 타입',
  `logo_text` varchar(100) DEFAULT '' COMMENT '로고 텍스트',
  `logo_image` varchar(255) DEFAULT '' COMMENT '로고 이미지 경로',
  `template` varchar(50) DEFAULT 'basic' COMMENT '사이트 템플릿',
  `join_point` int(11) DEFAULT 0 COMMENT '가입시 지급 포인트',
  `join_level` int(11) DEFAULT 1 COMMENT '가입시 부여 레벨',
  `mall_commission` int(11) DEFAULT 10,
  `mall_name` varchar(255) DEFAULT 'Open Market',
  `allowed_ips` text DEFAULT NULL COMMENT '접속 허용 IP 목록',
  `blocked_ips` text DEFAULT NULL COMMENT '접속 차단 IP 목록',
  `faq_category` varchar(255) DEFAULT '회원|포인트|게시판|기타' COMMENT 'FAQ 카테고리',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '수정 일시',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='사이트 정보 설정 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config`
--

LOCK TABLES `config` WRITE;
/*!40000 ALTER TABLE `config` DISABLE KEYS */;
INSERT INTO `config` VALUES (1,'Neuron AI PHP','','','','','','',NULL,'text','','','basic',0,1,10,'Open Market',NULL,NULL,'회원|포인트|게시판|기타','2026-08-07 06:31:48');
/*!40000 ALTER TABLE `config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excel_mappings`
--

DROP TABLE IF EXISTS `excel_mappings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `excel_mappings` (
  `mapping_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL,
  `sheet_type` varchar(50) NOT NULL COMMENT '시트 유형 (예: PARTS, PRICES)',
  `source_column_index` varchar(10) NOT NULL COMMENT '엑셀 열 번호 (예: 0, 1, 2 또는 A, B, C)',
  `target_field_name` varchar(50) NOT NULL COMMENT 'DB 컬럼명',
  `header_name` varchar(100) DEFAULT NULL COMMENT '엑셀 헤더명',
  PRIMARY KEY (`mapping_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excel_mappings`
--

LOCK TABLES `excel_mappings` WRITE;
/*!40000 ALTER TABLE `excel_mappings` DISABLE KEYS */;
INSERT INTO `excel_mappings` VALUES (9,0,'PRICES','0','part_name',NULL),(10,0,'PRICES','17','cost_price',NULL);
/*!40000 ALTER TABLE `excel_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excel_upload_history`
--

DROP TABLE IF EXISTS `excel_upload_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `excel_upload_history` (
  `upload_id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `upload_status` varchar(50) DEFAULT 'SUCCESS',
  `parsed_rows_count` int(11) DEFAULT 0,
  `uploaded_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`upload_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excel_upload_history`
--

LOCK TABLES `excel_upload_history` WRITE;
/*!40000 ALTER TABLE `excel_upload_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `excel_upload_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faq` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '고유 ID',
  `category` varchar(50) NOT NULL COMMENT '질문 카테고리',
  `question` varchar(255) NOT NULL COMMENT '질문',
  `answer` text NOT NULL COMMENT '답변',
  `display_order` int(11) DEFAULT 0 COMMENT '출력 순서',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '수정 일시',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='FAQ 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_downloads`
--

DROP TABLE IF EXISTS `file_downloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file_downloads` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '다운로드 기록 ID',
  `file_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '파일 ID',
  `user_id` varchar(255) DEFAULT NULL COMMENT '다운로드한 사용자 ID',
  `ip_address` varchar(45) NOT NULL COMMENT '다운로드 IP 주소',
  `download_count` int(11) DEFAULT 1 COMMENT '다운로드 횟수',
  `last_downloaded_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '마지막 다운로드 일시',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='파일 다운로드 기록 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_downloads`
--

LOCK TABLES `file_downloads` WRITE;
/*!40000 ALTER TABLE `file_downloads` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_downloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mail_logs`
--

DROP TABLE IF EXISTS `mail_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mail_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '고유 ID',
  `target_info` varchar(255) DEFAULT NULL COMMENT '수신 대상 정보',
  `sender_name` varchar(100) DEFAULT NULL COMMENT '발송자 이름',
  `sender_phone` varchar(50) DEFAULT NULL COMMENT '발송자 연락처',
  `sender_email` varchar(255) DEFAULT NULL COMMENT '발송자 이메일',
  `recipient` longtext NOT NULL COMMENT '수신 이메일 목록',
  `subject` varchar(255) NOT NULL COMMENT '메일 제목',
  `content` longtext NOT NULL COMMENT '메일 본문',
  `attachments` text DEFAULT NULL COMMENT '첨부 파일 목록',
  `status` varchar(20) NOT NULL DEFAULT 'success' COMMENT '발송 상태',
  `error_message` text DEFAULT NULL COMMENT '에러 메시지',
  `sent_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '발송 일시',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='메일 발송 로그 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mail_logs`
--

LOCK TABLES `mail_logs` WRITE;
/*!40000 ALTER TABLE `mail_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `mail_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pages` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '페이지 고유 ID',
  `title` varchar(255) NOT NULL COMMENT '페이지 제목',
  `slug` varchar(100) NOT NULL COMMENT '페이지 URL 슬러그',
  `content` longtext NOT NULL COMMENT '페이지 내용',
  `display_title` tinyint(1) DEFAULT 1 COMMENT '제목 표시 여부',
  `use_card_style` tinyint(1) DEFAULT 1 COMMENT '카드 스타일 사용 여부',
  `editor_mode` enum('visual','html') DEFAULT 'visual' COMMENT '에디터 모드',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '수정 일시',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_slug` (`slug`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='독립 페이지 관리 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
INSERT INTO `pages` VALUES (1,'About Us','about-us','<p>This is the About Us page.</p>',1,1,'visual','2026-08-07 06:31:48','2026-08-07 06:31:48'),(2,'Terms of Service','terms-of-service','<p>This is the Terms of Service page.</p>',1,1,'visual','2026-08-07 06:31:48','2026-08-07 06:31:48'),(3,'Privacy Policy','privacy-policy','<p>This is the Privacy Policy page.</p>',1,1,'visual','2026-08-07 06:31:48','2026-08-07 06:31:48');
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_log`
--

DROP TABLE IF EXISTS `point_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `point_log` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '고유 ID',
  `user_id` varchar(255) NOT NULL COMMENT '사용자 아이디',
  `point` int(11) NOT NULL COMMENT '지급/차감 포인트',
  `rel_msg` varchar(255) DEFAULT '' COMMENT '관련 사유/메시지',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '일시',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='포인트 이력 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_log`
--

LOCK TABLES `point_log` WRITE;
/*!40000 ALTER TABLE `point_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post_files`
--

DROP TABLE IF EXISTS `post_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `post_files` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '파일 고유 ID',
  `post_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '게시글 ID',
  `filename` varchar(255) NOT NULL COMMENT '저장된 파일명',
  `original_name` varchar(255) NOT NULL COMMENT '원본 파일명',
  `filepath` varchar(255) NOT NULL COMMENT '파일 경로',
  `file_size` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '파일 크기',
  `file_type` varchar(100) DEFAULT NULL COMMENT '파일 타입',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '업로드 일시',
  PRIMARY KEY (`id`),
  KEY `idx_post_id` (`post_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='게시글 첨부 파일 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post_files`
--

LOCK TABLES `post_files` WRITE;
/*!40000 ALTER TABLE `post_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `post_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '게시글 고유 ID',
  `group_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '소속 그룹 ID',
  `board_id` int(11) unsigned NOT NULL DEFAULT 0 COMMENT '게시판 ID',
  `user_id` varchar(255) NOT NULL DEFAULT '' COMMENT '작성자 ID',
  `parent_id` int(11) unsigned DEFAULT NULL COMMENT '부모 글 ID',
  `title` varchar(255) NOT NULL COMMENT '게시글 제목',
  `content` text NOT NULL COMMENT '게시글 내용',
  `reply_depth` int(11) DEFAULT 0 COMMENT '답글 깊이',
  `views` int(11) DEFAULT 0 COMMENT '조회수',
  `editor_mode` enum('visual','html') DEFAULT 'visual' COMMENT '에디터 모드',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '작성 일시',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '수정 일시',
  PRIMARY KEY (`id`),
  KEY `idx_board_id` (`board_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_parent_id` (`parent_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='게시글 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_items`
--

DROP TABLE IF EXISTS `quote_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quote_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `quote_id` int(11) NOT NULL,
  `item_type` varchar(50) DEFAULT '',
  `spec` varchar(100) DEFAULT '',
  `config` varchar(100) DEFAULT '',
  `qty` int(11) DEFAULT 0,
  `unit_price` decimal(15,2) DEFAULT 0.00,
  `total_price` decimal(15,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_quote_id` (`quote_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_items`
--

LOCK TABLES `quote_items` WRITE;
/*!40000 ALTER TABLE `quote_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_requests`
--

DROP TABLE IF EXISTS `quote_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quote_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_user_id` int(11) NOT NULL COMMENT '공급사 회원 고유 ID',
  `company` varchar(255) NOT NULL COMMENT '요청 회사명',
  `name` varchar(255) NOT NULL COMMENT '담당자 이름',
  `phone` varchar(50) NOT NULL COMMENT '연락처',
  `address` varchar(255) NOT NULL COMMENT '현장 주소',
  `canvas_data` longtext DEFAULT NULL COMMENT '랙 및 도면 정보 JSON',
  `image_path` varchar(255) DEFAULT NULL COMMENT '고해상도 캔버스 이미지 경로',
  `summary` longtext DEFAULT NULL COMMENT 'AI 시공 요약 리포트',
  `edge_lengths` text DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `admin_price` decimal(15,2) DEFAULT 0.00,
  `admin_margin` decimal(5,2) DEFAULT 0.00,
  `admin_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '요청 일시',
  `pallet_w` int(11) DEFAULT NULL,
  `pallet_d` int(11) DEFAULT NULL,
  `pallet_h` int(11) DEFAULT NULL,
  `pallet_weight` int(11) DEFAULT NULL,
  `fork_direction` varchar(50) DEFAULT NULL,
  `forklift_type` varchar(100) DEFAULT NULL,
  `forklift_lift_height` int(11) DEFAULT NULL,
  `forklift_ast` int(11) DEFAULT NULL,
  `rack_levels` int(11) DEFAULT NULL,
  `beam_thickness` int(11) DEFAULT 125,
  `rack_height` varchar(50) DEFAULT NULL,
  `rack_spec` varchar(100) DEFAULT NULL,
  `rack_type` varchar(100) DEFAULT NULL,
  `rack_indep` int(11) DEFAULT NULL,
  `rack_conn` int(11) DEFAULT NULL,
  `rack_small_conn` int(11) DEFAULT NULL,
  `rack_bypass` int(11) DEFAULT NULL,
  `rack_bypass_type` varchar(100) DEFAULT NULL,
  `rack_holders` int(11) DEFAULT NULL,
  `rack_pallets` int(11) DEFAULT NULL,
  `condition_type` varchar(50) DEFAULT NULL,
  `self_install` tinyint(1) DEFAULT 0,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='캔버스 견적 요청 내역';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_requests`
--

LOCK TABLES `quote_requests` WRITE;
/*!40000 ALTER TABLE `quote_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sp_plan`
--

DROP TABLE IF EXISTS `sp_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sp_plan` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `mb_id` varchar(20) NOT NULL DEFAULT '',
  `date_chk` tinyint(4) NOT NULL COMMENT '날짜지정0 미지정1',
  `sp_category_en` varchar(20) NOT NULL COMMENT '메인카테고리 영문',
  `sp_category` varchar(255) NOT NULL DEFAULT '',
  `sp_subject` varchar(255) NOT NULL DEFAULT '',
  `sp_price` int(11) NOT NULL DEFAULT 0 COMMENT '목표금액',
  `sp_price_sum` int(11) NOT NULL COMMENT '매일적립합',
  `from_date` varchar(255) NOT NULL DEFAULT '',
  `to_date` varchar(255) NOT NULL DEFAULT '',
  `out_type` varchar(255) NOT NULL COMMENT '카드,계좌이체등',
  `sp_memo` text NOT NULL,
  `sp_order` int(11) NOT NULL DEFAULT 0 COMMENT '리스트순서',
  `sp_day` int(11) NOT NULL COMMENT '토일공휴일제외한 날짜수',
  `sp_day_arr` text NOT NULL COMMENT '휴일공유일제외 날짜등록',
  `sp_day_price` float NOT NULL DEFAULT 0 COMMENT '매일적립되는 금액',
  `sp_datetime` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '등록일',
  `sp_cron` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '크론실행시간',
  `sp_next_date` date NOT NULL DEFAULT '0000-00-00' COMMENT '다음적립일',
  `sp_1` varchar(255) NOT NULL DEFAULT '',
  `sp_2` varchar(255) NOT NULL DEFAULT '',
  `sp_3` varchar(255) NOT NULL DEFAULT '',
  `sp_4` varchar(255) NOT NULL DEFAULT '',
  `sp_5` varchar(255) NOT NULL DEFAULT '',
  `sp_use` tinyint(4) NOT NULL DEFAULT 0 COMMENT '적립중 0, 목표완료 1, 출금완료 2, 적립중지 3, 취소 4',
  `sp_end_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '입금/ 취소시간',
  `in_chk` int(11) NOT NULL COMMENT '입금체크',
  `in_chk_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '입금시간',
  PRIMARY KEY (`num`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sp_plan`
--

LOCK TABLES `sp_plan` WRITE;
/*!40000 ALTER TABLE `sp_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `sp_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sp_plan_list`
--

DROP TABLE IF EXISTS `sp_plan_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sp_plan_list` (
  `num` int(11) NOT NULL AUTO_INCREMENT,
  `mb_id` varchar(20) NOT NULL DEFAULT '',
  `plan_num` int(11) NOT NULL,
  `sp_category` varchar(255) NOT NULL DEFAULT '',
  `sp_subject` varchar(255) NOT NULL DEFAULT '',
  `sp_price` int(11) NOT NULL COMMENT '금일입금액',
  `sp_plan_price` int(11) NOT NULL COMMENT '일일목표적립금액',
  `sp_in_out_price` int(11) NOT NULL COMMENT '금일적립금액',
  `sp_memo` varchar(255) NOT NULL,
  `sp_memo_type` varchar(20) NOT NULL COMMENT 'a정상 b잔액부족잔금적립 c잔액부족적립실패 d채우기적립 e비우기 차감',
  `sp_time` date NOT NULL DEFAULT '0000-00-00' COMMENT '적립일',
  `sp_time2` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '적립일 상세시간',
  `sp_use` tinyint(4) NOT NULL COMMENT '적립중 0, 목표완료 1, 출금완료 2, 적립중지 3, 취소 4',
  `sp_end_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00' COMMENT '입금 / 취소시간',
  PRIMARY KEY (`num`)
) ENGINE=InnoDB AUTO_INCREMENT=1256 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sp_plan_list`
--

LOCK TABLES `sp_plan_list` WRITE;
/*!40000 ALTER TABLE `sp_plan_list` DISABLE KEYS */;
/*!40000 ALTER TABLE `sp_plan_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '고유 식별 ID',
  `user_id` varchar(255) NOT NULL COMMENT '사용자 아이디',
  `username` varchar(50) NOT NULL COMMENT '사용자 이름',
  `password` varchar(255) NOT NULL COMMENT '암호화된 비밀번호',
  `email` varchar(100) NOT NULL COMMENT '이메일 주소',
  `role` enum('user','admin') DEFAULT 'user' COMMENT '사용자 권한',
  `point` int(11) DEFAULT 0 COMMENT '포인트',
  `level` int(11) DEFAULT 1 COMMENT '레벨',
  `country` varchar(50) DEFAULT 'Unknown' COMMENT '접속 국가',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '가입 일시',
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='사용자 정보 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','최고관리자','$2y$10$9FOKLb5od458ybqGehyRhO9l6Y2nFVPLfqdx7rU3ARaOIFU2M1Yk.','adm@site.com','admin',0,10,'Unknown','2026-08-07 06:31:48'),(2,'aaaa','aaaa','$2y$10$VAuHnauEl.WjVL..HfRry.3k2N/Ua11eAeGGa2fDqGxzNCK9KU52y','aaaa@aaaa.aaaa','user',0,1,'Unknown','2026-08-07 06:36:34');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_pricing_rules`
--

DROP TABLE IF EXISTS `vendor_pricing_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor_pricing_rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vendor_id` int(11) NOT NULL DEFAULT 1,
  `applied_month` varchar(50) NOT NULL,
  `pricing_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`pricing_data`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_pricing_rules`
--

LOCK TABLES `vendor_pricing_rules` WRITE;
/*!40000 ALTER TABLE `vendor_pricing_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_pricing_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_settings`
--

DROP TABLE IF EXISTS `vendor_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) NOT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `company_logo` varchar(255) DEFAULT NULL,
  `price_excel_path` varchar(255) DEFAULT NULL,
  `prices_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`prices_data`)),
  `url_slug` varchar(255) DEFAULT NULL,
  `contact_number` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `headquarters_address` varchar(255) DEFAULT NULL,
  `fax_number` varchar(100) DEFAULT NULL,
  `manager_name` varchar(100) DEFAULT NULL,
  `manager_email` varchar(255) DEFAULT NULL,
  `factory_address` varchar(255) DEFAULT NULL,
  `factory_contact` varchar(100) DEFAULT NULL,
  `bank_account` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_user_id` (`user_id`),
  UNIQUE KEY `idx_url_slug` (`url_slug`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_settings`
--

LOCK TABLES `vendor_settings` WRITE;
/*!40000 ALTER TABLE `vendor_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitor_logs`
--

DROP TABLE IF EXISTS `visitor_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visitor_logs` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT COMMENT '로그 고유 ID',
  `ip_address` varchar(45) NOT NULL COMMENT 'IP 주소',
  `country` varchar(50) DEFAULT 'Unknown' COMMENT '국가 코드/이름',
  `user_agent` text DEFAULT NULL COMMENT '브라우저 에이전트',
  `referer` text DEFAULT NULL COMMENT '유입 경로',
  `visit_date` date NOT NULL COMMENT '접속 날짜',
  `visit_time` time NOT NULL COMMENT '접속 시간',
  `last_active_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '마지막 활성 시간',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '기록 일시',
  PRIMARY KEY (`id`),
  KEY `idx_visit_date` (`visit_date`),
  KEY `idx_ip_date` (`ip_address`,`visit_date`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci COMMENT='접속자 로그 테이블';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitor_logs`
--

LOCK TABLES `visitor_logs` WRITE;
/*!40000 ALTER TABLE `visitor_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitor_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-19 22:30:36
