<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if the file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send all other requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
